
<div class="mt-28">
  <h1 class="ml-10 text-xl text-white font-arial">TV Shows Featuring a Strong Female Lead</h1>
</div>

<div class="flex flex-row max-w-full max-h-full mt-3 ml-10 space-x-2">
  <div>
      <img class="h-auto max-w-full rounded-md" src="/assets/imagens/Wednesday Card.jpg" alt="">
  </div>
  <div>
      <img class="h-auto max-w-full rounded-md" src="/assets/imagens/LaCasadePapel-card.jpg" alt="">
  </div>
  <div>
      <img class="h-auto max-w-full rounded-md" src="/assets/imagens/EmilyInParis.jpg" alt="">
  </div>
  <div>
      <img class="h-auto max-w-full rounded-md" src="/assets/imagens/GinnyEGeorgia-Card.jpg" alt="">
  </div>
  <div>
      <img class="h-auto max-w-full rounded-md" src="/assets/imagens/theglory3.jpg" alt="">
  </div>
  <div>
      <img class="h-auto max-w-full rounded-md" src="/assets/imagens/neverhave1ever.jpg" alt="">
  </div>
  <div>
      <img class="h-auto max-w-full rounded-md" src="/assets/imagens/alive.jpg" alt="">
  </div>
  <div>
      <img class="h-auto max-w-full rounded-md" src="/assets/imagens/parasite.jpg" alt="">
  </div>
</div>




