
<div>
  <h3 class="text-white">TV Shows Featuring a Strong Female Lead</h3>
</div>

<div class="max-w-full rounded-lg flex flex-wrap gap-4">
  <a href="#">
    <img class="w-40 h-40 object-cover rounded-lg flex-shrink-0" src="/assets/imagens/Wednesday Card.jpg" alt="WednesdayCard" title="Wednesday" />
  </a>
  <a href="#">
    <img class="w-40 h-40 object-cover rounded-lg flex-shrink-0" src="/assets/imagens/LaCasadePapel-card.jpg" alt="La Casa de Papel" title="La Casa de Papel" />
  </a>
  <a href="#">
    <img class="w-40 h-40 object-cover rounded-lg flex-shrink-0" src="/assets/imagens/EmilyInParis.jpg" alt="Emily In Paris" title="Emily In Paris" />
  </a>
  <a href="#">
    <img class="w-40 h-40 object-cover rounded-lg flex-shrink-0" src="/assets/imagens/GinnyEGeorgia-Card.jpg" alt="Ginny & Georgia" title="Ginny & Georgia" />
  </a>
  <a href="#">
    <img class="w-40 h-40 object-cover rounded-lg flex-shrink-0" src="/assets/imagens/Wednesday Card.jpg" alt="WednesdayCard" title="Wednesday" />
  </a>
</div>


