<nav>
  <ul class="flex items-center justify-between font-semibold pt-2">
    <li class="ml-9">
      <a href="#"><img class="w-30 h-10" src="/assets/imagens/netflix-94.png" alt="logoNetflix"></a>
    </li>
    <li>
      <button class="hover:opacity-50 cursor-default text-white px-4 whitespace-nowrap">Home</button>
    </li>
    <li class="relative group px-3 py-2">
      <button class="hover:opacity-50 cursor-default text-white px-8 whitespace-nowrap">TV Shows</button>
      <div class="absolute top-0 -left-48 transition group-hover:translate-y-5 translate-y-0 opacity-0 invisible group-hover:opacity-100 group-hover:visible duration-500 ease-in-out group-hover:transform z-50 min-w-[560px] transform">
        <div class="relative top-6 p-6 bg-white rounded-xl shadow-xl w-full">
          <div class="w-10 h-10 bg-white transform rotate-45 absolute top-0 z-0 translate-x-0 transition-transform group-hover:translate-x-[12rem] duration-500 ease-in-out rounded-sm"></div>
          <div class="relative z-10">
            <div class="grid grid-cols-2 gap-6">
              <div>
                <p class="uppercase tracking-wider text-gray-500 font-medium text-[13px]">Filmes</p>
                <ul class="mt-3 text-[15px]">
                  <li>
                    <a href="#" class="block p-2 -mx-2 rounded-lg hover:bg-gradient-to-br hover:from-indigo-50 hover:to-pink-50 hover:via-blue-50 transition ease-in-out duration-300 text-gray-800 font-semibold hover:text-indigo-600">
                      Ação
                      <p class="text-gray-500 font-normal">Filme é bom viu</p>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="block p-2 -mx-2 rounded-lg hover:bg-gradient-to-br hover:from-indigo-50 hover:to-pink-50 hover:via-blue-50 transition ease-in-out duration-300 text-gray-800 font-semibold hover:text-indigo-600">
                      Drama
                      <p class="text-gray-500 font-normal">Filme é bom viu</p>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="block p-2 -mx-2 rounded-lg hover:bg-gradient-to-br hover:from-indigo-50 hover:to-pink-50 hover:via-blue-50 transition ease-in-out duration-300 text-gray-800 font-semibold hover:text-indigo-600">
                      Ficção Científica
                      <p class="text-gray-500 font-normal">Filme é bom viu</p>
                    </a>
                  </li>
                </ul>
              </div>
              <div>
                <p class="uppercase tracking-wider text-gray-500 font-medium text-[13px]"></p>
                <ul class="mt-3 text-[15px]">
                  <li>
                    <a href="#" class="block p-2 -mx-2 rounded-lg hover:bg-gradient-to-br hover:from-indigo-50 hover:to-pink-50 hover:via-blue-50 transition ease-in-out duration-300 text-gray-800 font-semibold hover:text-indigo-600">
                      Suspense
                      <p class="text-gray-500 font-normal">Filme é bom viu</p>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="block p-2 -mx-2 rounded-lg hover:bg-gradient-to-br hover:from-indigo-50 hover:to-pink-50 hover:via-blue-50 transition ease-in-out duration-300 text-gray-800 font-semibold hover:text-indigo-600">
                      Fantasia
                      <p class="text-gray-500 font-normal">Filme é bom viu</p>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="block p-2 -mx-2 rounded-lg hover:bg-gradient-to-br hover:from-indigo-50 hover:to-pink-50 hover:via-blue-50 transition ease-in-out duration-300 text-gray-800 font-semibold hover:text-indigo-600">
                      Documentário
                      <p class="text-gray-500 font-normal">Filme é bom viu</p>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="relative group px-3 py-2">
      <button class="hover:opacity-50 cursor-default text-white px-4 whitespace-nowrap">Movies</button>
      <div class="absolute top-0 -left-2 transition group-hover:translate-y-5 translate-y-0 opacity-0 invisible group-hover:opacity-100 group-hover:visible duration-500 ease-in-out group-hover:transform z-50 min-w-[260px] transform">
        <div class="relative top-6 p-6 bg-white rounded-xl shadow-xl w-full">
          <div class="w-10 h-10 bg-white transform rotate-45 absolute top-0 z-0 -translate-x-4 transition-transform group-hover:translate-x-3 duration-500 ease-in-out rounded-sm"></div>
          <div class="relative z-10">
            <p class="uppercase tracking-wider text-gray-500 font-medium text-[13px]">Use cases</p>
            <ul class="mt-3 text-[15px]">
              <li>
                <a href="#" class="bg-transparent bg-clip-text text-transparent bg-gradient-to-br from-indigo-400 to-pink-700 via-blue-500 font-semibold hover:from-blue-600 hover:to-indigo-600 hover:via-pink-400 py-1 block">
                  Creators
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="relative group px-3 py-2">
      <button class="hover:opacity-50 cursor-default text-white px-4 whitespace-nowrap">New & Popular</button>
      <div class="absolute top-0 -left-2 transition group-hover:translate-y-5 translate-y-0 opacity-0 invisible group-hover:opacity-100 group-hover:visible duration-500 ease-in-out group-hover:transform z-50 min-w-[260px] transform">
        <div class="relative top-6 p-6 bg-white rounded-xl shadow-xl w-full">
          <div class="w-10 h-10 bg-white transform rotate-45 absolute top-0 z-0 -translate-x-4 transition-transform group-hover:translate-x-3 duration-500 ease-in-out rounded-sm"></div>
          <div class="relative z-10">
            <p class="uppercase tracking-wider text-gray-500 font-medium text-[13px]">Use cases</p>
            <ul class="mt-3 text-[15px]">
              <li>
                <a href="#" class="bg-transparent bg-clip-text text-transparent bg-gradient-to-br from-indigo-400 to-pink-700 via-blue-500 font-semibold hover:from-blue-600 hover:to-indigo-600 hover:via-pink-400 py-1 block">
                  Creators
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="relative group px-3 py-2">
      <button class="hover:opacity-50 cursor-default text-white px-4 whitespace-nowrap">My List</button>
      <div class="absolute top-0 -left-2 transition group-hover:translate-y-5 translate-y-0 opacity-0 invisible group-hover:opacity-100 group-hover:visible duration-500 ease-in-out group-hover:transform z-50 min-w-[260px] transform">
        <div class="relative top-6 p-6 bg-white rounded-xl shadow-xl w-full">
          <div class="w-10 h-10 bg-white transform rotate-45 absolute top-0 z-0 -translate-x-4 transition-transform group-hover:translate-x-3 duration-500 ease-in-out rounded-sm"></div>
          <div class="relative z-10">
            <p class="uppercase tracking-wider text-gray-500 font-medium text-[13px]">Use cases</p>
            <ul class="mt-3 text-[15px]">
              <li>
                <a href="#" class="bg-transparent bg-clip-text text-transparent bg-gradient-to-br from-indigo-400 to-pink-700 via-blue-500 font-semibold hover:from-blue-600 hover:to-indigo-600 hover:via-pink-400 py-1 block">
                  Creators
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="relative group px-3 py-2">
      <button><a class="text-white px-4 whitespace-nowrap" href="#">Browse by Languages</a></button>
    </li>
    <li class="relative group px-3 py-2">
      <form action="" class="relative mx-auto w-max">
        <input type="search" class="search-input peer cursor-pointer relative z-10 h-10 w-10 rounded-full border bg-transparent transition-all duration-300 ease-in-out focus:w-64 focus:pl-4" />
        <svg xmlns="http://www.w3.org/2000/svg" class="absolute inset-y-0 my-auto h-10 w-10 border-transparent stroke-white px-3.5 transition-all duration-300 ease-in-out pointer-events-none peer-focus:text-black peer-focus:w-8 peer-focus:h-8" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
        </svg>
      </form>
    </li>
    <li class="relative group px-3 py-2">
      <svg class="w-6 h-6 text-white dark:text-white animate-bounce" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 21">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 3.464V1.1m0 2.365a5.338 5.338 0 0 1 5.133 5.368v1.8c0 2.386 1.867 2.982 1.867 4.175C17 15.4 17 16 16.462 16H3.538C3 16 3 15.4 3 14.807c0-1.193 1.867-1.789 1.867-4.175v-1.8A5.338 5.338 0 0 1 10 3.464ZM1.866 8.832a8.458 8.458 0 0 1 2.252-5.714m14.016 5.714a8.458 8.458 0 0 0-2.252-5.714M6.54 16a3.48 3.48 0 0 0 6.92 0H6.54Z" />
      </svg>
    </li>
  </ul>
</nav>
