<nav>
  <ul class="flex items-center justify-between pt-2 font-semibold">
    <li class="ml-9">
      <a href="#"><img class="h-10 w-30" src="/assets/imagens/netflix-94.png" alt="logoNetflix"></a>
    </li>
    <li class="">
      <button class="text-white cursor-default hover:opacity-50 whitespace-nowrap">Home</button>
    </li>
    <li class="relative group">
      <button class="text-white cursor-default hover:opacity-50 whitespace-nowrap">TV Shows</button>
      <div class="absolute top-0 -left-48 transition group-hover:translate-y-5 translate-y-0 opacity-0 invisible group-hover:opacity-100 group-hover:visible duration-500 ease-in-out group-hover:transform z-50 min-w-[560px] transform">
        <div class="relative w-full p-6 bg-white shadow-xl top-6 rounded-xl">
          <div class="w-10 h-10 bg-white transform rotate-45 absolute top-0 z-0 translate-x-0 transition-transform group-hover:translate-x-[12rem] duration-500 ease-in-out rounded-sm"></div>
          <div class="relative z-10">
            <div class="grid grid-cols-2 gap-6">
              <div>
                <p class="uppercase tracking-wider text-gray-500 font-medium text-[13px]">Filmes</p>
                <ul class="mt-3 text-[15px]">
                  <li>
                    <a href="#" class="block font-semibold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-gradient-to-br hover:from-indigo-50 hover:to-pink-50 hover:via-blue-50 hover:text-indigo-600">
                      Ação
                      <p class="font-normal text-gray-500">Filme é bom viu</p>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="block font-semibold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-gradient-to-br hover:from-indigo-50 hover:to-pink-50 hover:via-blue-50 hover:text-indigo-600">
                      Drama
                      <p class="font-normal text-gray-500">Filme é bom viu</p>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="block font-semibold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-gradient-to-br hover:from-indigo-50 hover:to-pink-50 hover:via-blue-50 hover:text-indigo-600">
                      Ficção Científica
                      <p class="font-normal text-gray-500">Filme é bom viu</p>
                    </a>
                  </li>
                </ul>
              </div>
              <div>
                <p class="uppercase tracking-wider text-gray-500 font-medium text-[13px]"></p>
                <ul class="mt-3 text-[15px]">
                  <li>
                    <a href="#" class="block font-semibold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-gradient-to-br hover:from-indigo-50 hover:to-pink-50 hover:via-blue-50 hover:text-indigo-600">
                      Suspense
                      <p class="font-normal text-gray-500">Filme é bom viu</p>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="block font-semibold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-gradient-to-br hover:from-indigo-50 hover:to-pink-50 hover:via-blue-50 hover:text-indigo-600">
                      Fantasia
                      <p class="font-normal text-gray-500">Filme é bom viu</p>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="block font-semibold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-gradient-to-br hover:from-indigo-50 hover:to-pink-50 hover:via-blue-50 hover:text-indigo-600">
                      Documentário
                      <p class="font-normal text-gray-500">Filme é bom viu</p>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="relative ml-2 group">
      <button class="text-white cursor-default hover:opacity-50 whitespace-nowrap">Movies</button>
      <div class="absolute top-0 -left-2 transition group-hover:translate-y-5 translate-y-0 opacity-0 invisible group-hover:opacity-100 group-hover:visible duration-500 ease-in-out group-hover:transform z-50 min-w-[260px] transform">
        <div class="relative w-full p-6 bg-white shadow-xl top-6 rounded-xl">
          <div class="absolute top-0 z-0 w-10 h-10 transition-transform duration-500 ease-in-out transform rotate-45 -translate-x-4 bg-white rounded-sm group-hover:translate-x-3"></div>
          <div class="relative z-10">
            <p class="uppercase tracking-wider text-gray-500 font-medium text-[13px]">Use cases</p>
            <ul class="mt-3 text-[15px]">
              <li>
                <a href="#" class="block py-1 font-semibold text-transparent bg-transparent bg-clip-text bg-gradient-to-br from-indigo-400 to-pink-700 via-blue-500 hover:from-blue-600 hover:to-indigo-600 hover:via-pink-400">
                  Creators
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="relative ml-2 group">
      <button class="text-white cursor-default hover:opacity-50 whitespace-nowrap">New & Popular</button>
      <div class="absolute top-0 -left-2 transition group-hover:translate-y-5 translate-y-0 opacity-0 invisible group-hover:opacity-100 group-hover:visible duration-500 ease-in-out group-hover:transform z-50 min-w-[260px] transform">
        <div class="relative w-full p-6 bg-white shadow-xl top-6 rounded-xl">
          <div class="absolute top-0 z-0 w-10 h-10 transition-transform duration-500 ease-in-out transform rotate-45 -translate-x-4 bg-white rounded-sm group-hover:translate-x-3"></div>
          <div class="relative z-10">
            <p class="uppercase tracking-wider text-gray-500 font-medium text-[13px]">Use cases</p>
            <ul class="mt-3 text-[15px]">
              <li>
                <a href="#" class="block py-1 font-semibold text-transparent bg-transparent bg-clip-text bg-gradient-to-br from-indigo-400 to-pink-700 via-blue-500 hover:from-blue-600 hover:to-indigo-600 hover:via-pink-400">
                  Creators
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="relative ml-2 group">
      <button class="text-white cursor-default hover:opacity-50 whitespace-nowrap">My List</button>
      <div class="absolute top-0 -left-2 transition group-hover:translate-y-5 translate-y-0 opacity-0 invisible group-hover:opacity-100 group-hover:visible duration-500 ease-in-out group-hover:transform z-50 min-w-[260px] transform">
        <div class="relative w-full p-6 bg-white shadow-xl top-6 rounded-xl">
          <div class="absolute top-0 z-0 w-10 h-10 transition-transform duration-500 ease-in-out transform rotate-45 -translate-x-4 bg-white rounded-sm group-hover:translate-x-3"></div>
          <div class="relative z-10">
            <p class="uppercase tracking-wider text-gray-500 font-medium text-[13px]">Use cases</p>
            <ul class="mt-3 text-[15px]">
              <li>
                <a href="#" class="block py-1 font-semibold text-transparent bg-transparent bg-clip-text bg-gradient-to-br from-indigo-400 to-pink-700 via-blue-500 hover:from-blue-600 hover:to-indigo-600 hover:via-pink-400">
                  Creators
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="relative ml-2 group">
      <button><a class="text-white whitespace-nowrap" href="#">Browse by Languages</a></button>
    </li>


    <div class="flex flex-row space-x-4 ">
    <li class="relative ml-2 group">
      <form action="" class="relative mx-auto w-max">
        <input type="search" class="relative z-10 w-10 h-10 transition-all duration-300 ease-in-out bg-transparent border rounded-full cursor-pointer search-input peer focus:w-64 focus:pl-4" />
        <svg xmlns="http://www.w3.org/2000/svg" class="absolute inset-y-0 my-auto h-10 w-10 border-transparent stroke-white px-3.5 transition-all duration-300 ease-in-out pointer-events-none peer-focus:text-black peer-focus:w-8 peer-focus:h-8" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
        </svg>
      </form>
    </li>
    <li class="relative pt-2 ml-2 group">
      <a class="italic text-white whitespace-nowrap" href="#">Children</a>
    </li>
    <li class="ml-2">
      <a href="#"><svg width="28" height="38" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.0002 5.365V3M12.0002 5.365C13.3853 5.4182 14.6954 6.00811 15.6534 7.00992C16.6113 8.01174 17.142 9.34691 17.1332 10.733V12.533C17.1332 14.919 19.0002 15.515 19.0002 16.708C19.0002 17.301 19.0002 17.901 18.4622 17.901H5.53821C5.00021 17.901 5.00021 17.301 5.00021 16.708C5.00021 15.515 6.86721 14.919 6.86721 12.533V10.733C6.8584 9.34691 7.3891 8.01174 8.34706 7.00992C9.30502 6.00811 10.6151 5.4182 12.0002 5.365ZM3.86621 10.733C3.8744 8.61344 4.6781 6.57421 6.11821 5.019M20.1342 10.733C20.126 8.61344 19.3223 6.57421 17.8822 5.019M8.54021 17.901C8.63422 18.7529 9.03923 19.5403 9.67767 20.1121C10.3161 20.684 11.1431 21.0002 12.0002 21.0002C12.8573 21.0002 13.6843 20.684 14.3227 20.1121C14.9612 19.5403 15.3662 18.7529 15.4602 17.901H8.54021Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg></a>

    </li>

<img id="avatarButton" type="button" data-dropdown-toggle="userDropdown" data-dropdown-placement="bottom-start" class="w-10 h-10 rounded cursor-pointer" src="\assets\imagens\lenobrega.jpg" alt="User dropdown">

<!-- Dropdown menu -->
<div id="userDropdown" class="z-10 hidden bg-white border-gray-700 divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
    <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
      <div>Vanderlei Abreu</div>
      <div class="font-medium truncate">naosei.com</div>
    </div>
    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="avatarButton">
      <li>
        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Perfil</a>
      </li>
      <li>
        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Configuração</a>
      </li>
      <li>
        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sair</a>
      </li>
    </ul>
    <div class="py-1">
      <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign out</a>
    </div>
</div>

  </div>
  </ul>
</nav>
