<section>
  <div class="pl-10 mt-20 240px">
    <div class="flex flex-row justify-items-center">
      <li class="flex items-center">
        <img class="h-10 w-7" src="\assets\imagens\264px-Netflix_2015_N_logo.svg.png" alt="">
        <div class="flex items-center ml-2">
          <span class="text-3xl font-bold tracking-widest text-white opacity-60 font-roboto">S</span>
          <span class="text-3xl font-bold tracking-widest text-white font-roboto opacity-60">E</span>
          <span class="text-3xl font-bold tracking-widest text-white font-roboto opacity-60">R</span>
          <span class="text-3xl font-bold tracking-widest text-white font-roboto opacity-60">I</span>
          <span class="text-3xl font-bold tracking-widest text-white font-roboto opacity-60">E</span>
          <span class="text-3xl font-bold tracking-widest text-white font-roboto opacity-60">S</span>
        </div>
      </li>
    </div>
    <h1 class="font-extrabold tracking-wide text-white text-8xl metal-mania">WEDNESDAY</h1>
    <div class="flex items-center mt-4">
      <img class="w-10 h-10 pl-2 mr-2 rounded-lg"src="\assets\imagens\Captura de tela 2024-05-28 111506.png" alt="">
      <span class="ml-2 text-3xl text-white font-arial "> #2 in TV Shows Today</span>
    </div>
    <div class="mt-4 mb-2">
    <p class="text-xl text-white font-arial" >Smart, sarcastic and a little dead inside, Wednesday Addams</p>
    <p class="text-xl text-white font-arial" >investigates a murder spree while making new friends – and foes </p>
    <p class="text-xl text-white font-arial" > – at Nevermore Academy.</p>
    </div>
    <div class="flex flex-col space-y-4 sm:flex-row sm:space-y-0">
      <a href="#"
        class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-black bg-white rounded-lg hover:bg-slate-200 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
        <svg class="w-10 h-7 text-blac7 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 10 16">
          <path d="M3.414 1A2 2 0 0 0 0 2.414v11.172A2 2 0 0 0 3.414 15L9 9.414a2 2 0 0 0 0-2.828L3.414 1Z"/>
      </svg>
        <p class="text-lg">Play</p>

      </a>
      <a href="#"
        class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-gray-800 rounded-lg hover:text-red-700 sm:ms-4 ">
        <svg class="w-6 h-5 pr-2 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 13V8m0 8h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
        </svg>
        <p class="text-lg">More Info</p>

      </a>

    </div>
  </div>
</section>
