<section>
  <div class="240px mt-20 pl-10">
    <div class="flex flex-row justify-items-center">
      <li class="flex items-center">
        <img class="h-10 w-7" src="\assets\imagens\264px-Netflix_2015_N_logo.svg.png" alt="">
        <div class="flex items-center ml-2">
          <span class="font-roboto text-4xl font-bold tracking-widest text-white">S</span>
          <span class="font-roboto text-4xl font-bold tracking-widest text-white">E</span>
          <span class="font-roboto text-4xl font-bold tracking-widest text-white">R</span>
          <span class="font-roboto text-4xl font-bold tracking-widest text-white">I</span>
          <span class="font-roboto text-4xl font-bold tracking-widest text-white">E</span>
          <span class="font-roboto text-4xl font-bold tracking-widest text-white">S</span>
        </div>
      </li>
    </div>
    <h1 class="text-8xl font-extrabold tracking-wide text-white metal-mania">WEDNESDAY</h1>
    <div class="flex items-center mt-4">
      <img class="w-10 h-10 pl-2"src="\assets\imagens\Captura de tela 2024-05-28 111506.png" alt="">
      <span class="ml-2 text-lg font-normal text-white opacity-80"> #2 in TV Shows Today</span>
    </div>

    <p class="mb-1 text-lg font-normal text-gray-300 lg:text-xl">Here at Flowbite we focus on markets where technology,
    </p>
    <p class="mb-4 text-lg text-gray-300 lg:text-xl">innovation, and capital can unlock long-term value</p>
    <p class="mt-1 text-lg text-gray-300 ">and drive economic growth.</p>

    <div class="flex flex-col space-y-4 sm:flex-row sm:space-y-0">
      <a href="#"
        class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-black rounded-lg hover:bg-slate-200 bg-white focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
        <svg class="w-6 h-6 text-black dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 10 16">
          <path d="M3.414 1A2 2 0 0 0 0 2.414v11.172A2 2 0 0 0 3.414 15L9 9.414a2 2 0 0 0 0-2.828L3.414 1Z"/>
      </svg>
        <p class="text-lg">Play</p>

      </a>
      <a href="#"
        class="inline-flex justify-center hover:text-red-700 items-center py-3 px-5 sm:ms-4 text-base font-medium text-center text-white rounded-lg bg-gray-800 ">
        <svg class="w-6 h-5 pr-2 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 13V8m0 8h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
        </svg>
        <p class="text-lg">More Info</p>

      </a>

    </div>
  </div>
</section>
